.card-area {
    width: 80%;
    height: 80%;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    backface-visibility: hidden;
    transition: 0.5s;
}

.card>div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 15px;
}

/* .card-front {} */

.card-back {
    transform: rotateY(180deg);
}

.flip>.card {
    transform: rotateY(180deg);
}

main {
    background-color: rgba(0, 0, 0, 0.2);
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(10, 100px);
    grid-auto-rows: 120px;
    place-items: center center;
    place-content: center center;
}

.hidden>.card {
    visibility: hidden;
}

.endScreen {
    position: fixed;

    width: 100vw;
    height: 50vh;

    z-index: 100;

    background-color: rgba(200, 200, 200, 0.8);

    color: black;
    font-weight: bold;
    font-size: 3em;

    display: flex;
    justify-content: center;
    align-items: center;


}